<!DOCTYPE html>
<%- include('../partials/head'); %>

    <body class="container">
        <%- include('../partials/header', {pagina: 'sobre' }) %>
            <main>
                <div class="h-100 p-5 text-black bg-light rounded-3">
                    <h1> Sobre mim</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt officia quisquam obcaecati aut
                        reprehenderit veniam officiis consequuntur. Voluptatem debitis aspernatur eius harum nihil sequi
                        velit, eum cum dignissimos! In, aut!
                    </p>
                </div>
            </main>
            <%- include('../partials/footer') %>
    </body>

    </html>